.Body{
    background-color: rgb(231, 157, 231);
    min-height: calc(100vh - 70px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo2{
    border: 1px solid #eee7aa;
}

.cont{
    display: flex;
    margin: 5px;
    gap: 5px;
    padding: 5px;
    border-radius: 5px;
    /* border: 1px solid #78bb4b; */
    box-shadow: 0 0 5px #b84835;
}

button{
    padding: 5px;
    color: #d18e36;
}